.main{
  background-color: #3a3f44;
  float: left;
  width: 100%;
  font-family: open sans;
  margin-bottom: 15px;
}

.navbar-blue{
  background-color: #1B75BC;
  border-color: transparent;
  margin-bottom: 0px;
}

.site-name{
  font-size: large;
  color: white;
}

.navbar .navbar-nav li{
  padding: 0px 20px;
}

.navbar .navbar-nav li a{
  color: white;
  font-size: 14px;
  padding: 13px 0px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.logobanner {
  width: 50px;
  height: 40px;
//  margin-top: 5px;
  margin-right: 10px;
  // align-content: left;
}
