
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <nav class="navbar navbar-expand-md">
          <a routerLink="/home">
            <span>
              <img src="assets/images/lazylibrarian.png" alt="logo"  class="logobanner" />
          </span>
            <span class="site-name">Lazy Librarian</span>
          </a>
          <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
                  (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>
