<div class="min-100 d-flex flex-column bg-dark">
  <app-navbar></app-navbar>
  <div class="container d-flex flex-column flex-grow">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="loaderService.isLoading | async" class='loader'>

</div>
