/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.min.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham-dark.min.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-fresh.min.css";


$light: #dddddd;
$dark: #272b30;

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/_';
@import './assets/scss/overrides/bootstrap/variables';

$grid-breakpoints: (
  xs: 0,
  sm: 800px,
  md: 1000px,
  lg: 1200px,
  xl: 1680px
);

$container-max-widths: (
  sm: 800px,
  md: 1000px,
  lg: 1200px,
  xl: 1620px
);

@import '~bootstrap/scss/bootstrap';


html, body {
  height: 100%;
}

.min-100 {
    min-height: 100%;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-grow {
  flex: 1 0 auto;
}

.modal-footer {
  padding-top: 0px !important;
}

.bookcover-sm {
  width: 100px;
  margin: auto auto;
  height: auto;
}
.bookcover-xs {
  width: 50px;
  margin: auto auto;
}
