$font-size-base: 0.825rem;
$grid-gutter-width: 15px !default;

.row {
  margin-bottom: 2px !important;
}

.btn-grid {
  margin-top: -5px;
  margin-right: 2px;
  padding-top: .05rem !important;
  padding-bottom: .05rem !important;
  padding-left: .25rem !important;
  padding-right: .25rem !important;
  width: 22px;
}


