<div class="card bg-dark" style="width: 100%;">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-9 text-light">
        <h2>Book List</h2>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <!-- <div class="input-group-prepend" tooltip="Book List">
            <button class="btn btn-success" type="button" (click)="onModelAdd()"><span>
                <fa-icon [icon]="['fas', 'plus-circle']" size="lg"></fa-icon>
              </span></button>
          </div> -->
          <input type="text" class="form-control" placeholder="Quick Filter..." [(ngModel)]="filterText" #quickFilter
            (keyup)="onQuickFilterChanged(quickFilter.value)">
          <div class="input-group-append" tooltip="Clear Quick Filter">
            <button class="btn btn-primary" type="button" (click)="onClearQuickFilter()"> <span>
                <fa-icon [icon]="['fas', 'trash']" size="lg"></fa-icon>
              </span></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="flex-grow">
      <div style="height: calc(100vh - 200px)">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham-dark" [gridOptions]="gridOptions" [rowHeight]=140>
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>


